[Unit]
Description=Servicio de Monitoreo de Cambios en Directorios
After=network.target

[Service]
Type=simple
ExecStart=/home/vjarquin/Plataformas/Laboratorio2/ejercicio4.sh
WorkingDirectory=/home/vjarquin/Plataformas/Laboratorio2

[Install]
WantedBy=multi-user.target